body {
  background-color: black;
}

.main {
  width: 100vw;
  height: 100vh;
}

.paddle {
  background-color: white;
  width: 0.3vw;
  height: 15vh;
  margin: 0;
}

.paddle2 {
  background-color: white;
  width: 0.3vw;
  height: 15vh;
  margin: 0;
  margin-left: 98vw;
}
/* .container {
  display: flex;
 flex-direction: column;
 
} */

/* .balldiv {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.ball {
  border-radius: 3rem;
  height: 0.5rem;
  width: 0.5rem;
  background-color: white;
  margin: 0;
}
