body {
  background-color: black;
}

.main {
  width: 100vw;
  height: 100vh;
}

#paddle_left {
  position: absolute;
  left: 10px;
  top: 50vh;
  background-color: white;
  width: 0.3vw;
  height: 15vh;
  margin: 0;
}

#paddle_right {
  position: absolute;
  right: 10px;
  top: 50vh;
  background-color: white;
  width: 0.3vw;
  height: 15vh;
  margin: 0;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#ball {
  border-radius: 3rem;
  height: 0.5rem;
  width: 0.5rem;
  background-color: white;
  margin: 0;
}
