* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

.pause,
.dead,
.game {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: palegoldenrod;
    color: white;
}

.playbutton {
    color: white;
    width: 20vw;
    height: 20vh;
    border: none;
    background-color: inherit;
    outline: 1px solid white;
    margin-top: 5vh;
}

.playbutton:hover{
    background-color: rgba(255, 245, 131, 0.567);
}

.playarea {
    width: 40vw;
    height: 75vh;
    background: gray;
    border: 0.5vw red solid;
}

.snake,
.apple {
    position: absolute;
}

.snake {
    background-color: black;
    width: 10px;
    height: 10px;
}

.apple {
    width: 75px;
    height: 100px;
}

.invisible {
    display: none;
}

.active {
    display: flex;
}