body {
  background-color: #b8b6b6;
}

.main {
  width: 100vw;
  height: 100vh;
}

#paddle_left {
  display: none;
  position: absolute;
  left: 30px;
  top: 45vh;
  background-color: white;
  width: 0.3vw;
  height: 15vh;
  margin: 0;
}

#paddle_right {
  display: none;
  position: absolute;
  right: 30px;
  top: 45vh;
  background-color: white;
  width: 0.3vw;
  height: 15vh;
  margin: 0;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#ball {
  display: none;
  border-radius: 3rem;
  height: 0.5rem;
  width: 0.5rem;
  background-color: white;
  margin: 0;
  position: absolute;
  top: 50vh;
  left: 50vw;
}

#btn {
  display: none;
  height: 75px;
  width: 200px;
  border: none;
  border-radius: 5px;
  background-color: #636363;
  margin-left: 40vw;
  margin-top: 15vh;
}

#btn2 {
  display: none;
  height: 75px;
  width: 200px;
  border: none;
  border-radius: 5px;
  background-color: #636363;
  margin-left: 40vw;
  margin-top: 10vh ;
}

#howtoplay-text {
  display: none;
  width: 600px;
  color: black;
  margin-left: 25vw;
  margin-top: 10vh;
  font-size: 20px;
}

#start-game{
  display: block;
  height: 75px;
  width: 200px;
  border: none;
  border-radius: 5px;
  background-color: #636363; 
  margin-left: 40vw;
  margin-top: 15vh;
}

#how-to-play {
  display: block;
  height: 75px;
  width: 200px;
  border: none;
  border-radius: 5px;
  background-color: #636363;
  margin-left: 40vw;
  margin-top: 10vh ;
}

#howtoplay-text2 {
  display: none;
  width: 600px;
  color: black;
  margin-left: 25vw;
  margin-top: 10vh;
  font-size: 20px;
}

#pong-pic {
  display: block;
  margin-left: 35vw;
  margin-top: 10vh;
}